<canvas id="venom-particles"></canvas>

<section class="projects-first-section">

    <div class="projects-info">
        <h1>{{labels.projects.title}}</h1>
        <p>{{labels.projects.subtitle}}</p>

        <div class="projects-code-links">
            <a
                href="https://github.com/TheAngryEnglishman"
                target="blank"
            >GitHub</a>

            {{! <a
                href="https://github.com/TheAngryEnglishman"
                target="blank"
            >codepen</a> }}
        </div>
    </div>

    <div class="perspective">
        <ul class="container">
            {{#projects}}
                <li class="{{class}}">
                    <a href="#">
                        <img
                            src="/assets/{{cover.default}}"
                            class="grid-image default"
                        />
                        <img
                            src="/assets/{{cover.hover}}"
                            class="grid-image hover"
                        />
                    </a>
                </li>
            {{/projects}}
        </ul>
    </div>
</section>
<hr class="divider" />
<section class="projects-second-section">
    <div class="social-network-project">
        {{> socialNetwork}}
    </div>
    <hr class="subdivider" />
    <div class="image-board-project">
        {{> imageBoard}}

    </div>
    <hr class="subdivider" />
    <div class="petition-project">
        {{> petition}}
    </div>
</section>