<section class="page project">

    <section>
        <header class="text">
            <h1>{{title}}</h1>
            <p>{{description}}</p>
        </header>

        <div class="text">{{{pageContent}}}</div>
    </section>
    <aside>
        <div class="gallery">
            <img src="/assets/{{cover.default}}" class="gallery-img" alt="{{title}}"/>
        </div>

        <div class="project-links">
            {{#demoLink}}
            <p><a href="{{.}}" class="demo-link">demo link</a></p>
            {{/demoLink}}

            {{#codeLink}}
            <p><a href="{{.}}" class="code-link">code link</a></p>
            {{/codeLink}}
        </div>

        <section class="techs">
            <h2>used technologies</h2>

            <ul class="techs-list">
                {{#each technologies}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
        </section>
    </aside>

</section>