<canvas id="venom-particles"></canvas>

<section class="projects-first-section">

    <div class="projects-info text">
        <h1>{{labels.projects.title}}</h1>
        <p>{{labels.projects.subtitle}}</p>

        <div class="projects-code-links">
            <a
                href="https://github.com/TheAngryEnglishman"
                target="blank"
            >GitHub</a>
        </div>
    </div>

    <div class="perspective">
        <ul class="container">
            {{#projects}}
                <li class="{{class}}">
                    <a href="/{{outputFileName}}">
                        <img
                            src="/assets/{{cover.default}}"
                            class="grid-image default"
                            alt="{{title}} - first screenshot"
                        />
                        <img
                            src="/assets/{{cover.hover}}"
                            class="grid-image hover"
                            alt="{{title}} - second screenshot"
                        />
                    </a>
                </li>
            {{/projects}}
        </ul>
    </div>
</section>
{{! <hr class="divider" /> }}
<section class="projects-second-section">
    {{#each projects}}

        <article class="{{id}} project-con text">

            <h2><a href="/{{outputFileName}}">{{title}}</a></h2>

            <p>{{description}}</p>
            <div class="icon-con"></div>
            <a href="/{{outputFileName}}">
                <img src="/assets/{{cover.default}}" alt="{{title}}" />
            </a>
        </article>

        {{! <hr class="divider" /> }}
    {{/each}}

</section>